.container {
    background-image: url(./src/background.jpg);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes {
    color: white;
    width: 300px;
    height: 111px;
}

.informacoes h1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 23,44px;
    text-align: left;
    margin-top: -20px;
}

.informacoes p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18,58px;
    margin-top: 15px;
}

.formulario {
    width: 340px;
    height: 378px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
}

#nome{
    margin-top: 20px;
}


#msg{
    height: 100px;
}

.input{
    border-radius: 5px;
    width:298.01px;
    height: 35.11px;
    padding: 10px;
    border: 1px solid;
}

textarea{
    resize: none;
}

.formulario p{
    font-size: 15px;
    font-weight: 400;
    margin-left: -160px;
    margin-top: -10px;
}

#btn{
    font-size: 15px;
    font-weight: 700;
    color: white;
    width:298.01px;
    height: 41.13px;
    border-radius: 5px;
    background-color: #3CCC87;
    border: none;
    cursor: pointer;
}

.dados-validos{
    border: 2px solid green;
}

.dados-invalidos{
    border : 2px solid red;
}

.msgObrigatoria{
    display:none;
    font-size: 10px;
    color: red;
    margin: -15px;
    margin-right: 190px;
    padding-bottom: 8px;


}

.msgMostrar{
    display: block;
}